<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Learn More Pack</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>20/02/02 13:41:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:execution.pack.Execution@1bce4f0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/02/02 13:41:12</td>   <td>10433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Execution.testone()[pri:0, instance:execution.pack.Execution@1bce4f0a]">testone</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/02/02 13:41:28</td>   <td>26614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecutionOne.testtwo()[pri:1, instance:execution.pack.ExecutionOne@5e3a8624]">testtwo</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/02/02 13:41:44</td>   <td>42312</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:execution.pack.Execution@1bce4f0a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
